---
import { getImage } from 'astro:assets';

import AidLinkButton from '@components/AidLinkButton.astro';
import Blockquote from '@components/Blockquote.astro';
import Carousel from '@components/Carousel.astro';
import LabLinkButton from '@components/LabLinkButton.astro';
import Persona from '@components/Persona.astro';
import BackgroundSection from '@components/sections/BackgroundSection.astro';
import ColumnsSection from '@components/sections/ColumnsSection.astro';
import Banner from '@compositions/Banner.astro';
import CoursesCards from '@compositions/CoursesCards.astro';
import Hero from '@compositions/Hero.astro';
import Layout from '@layouts/Layout.astro';

import carouselBackgroundSvg from '@assets/branding/agentur/CL-Zitat-BackgroundGradient-.svg';

import ImageAnnKristin from '@assets/images/vester-annkristin.jpeg';
import ImageZoe from '@assets/images/wolter-zoe.jpg';

const CarouselBackground = await getImage({
  src: carouselBackgroundSvg,
  format: 'webp',
});

import * as HeroContent from '@content/landing/hero.md';
import * as IntroContent from '@content/landing/intro.md';
import * as IntroColumnsContent1 from '@content/landing/intro_columns_1.md';
import * as IntroColumnsContent2 from '@content/landing/intro_columns_2.md';
import quotes from '@data/quotes.json';
import { strip_tag } from '@utils/md';

const people = [
  {
    name: 'Ann-Kristin Vester',
    role: 'Geschäftsführung',
    image: ImageAnnKristin,
    email: 'lab@correlaid.org?subject=CorrelLAB&body=Hi%20Zo%C3%A9%2C',
  },
  {
    name: 'Zoé Wolter',
    role: 'Geschäftsführung und Bildung',
    image: ImageZoe,
    email: 'lab@correlaid.org?subject=CorrelLAB&body=Hi%20Ann-Kristin%2C',
  },
];
---

<Layout title="Lab Demo">
  <Hero>
    <Fragment slot="subtitle" set:html={HeroContent.frontmatter.title} />
    <Fragment slot="teaser" set:html={HeroContent.compiledContent()} />
  </Hero>

  <main id="start">
    <div class="container">
      <ColumnsSection center_title={false}>
        <h2 slot="title" class="title">Willkommen im CorrelLAB</h2>
        <div slot="pre">
          <Blockquote wide bare>
            <Fragment set:text={await strip_tag(IntroContent.compiledContent)} />
          </Blockquote>
        </div>
        <div slot="col1" class="flex rows gap-2">
          <Fragment set:html={await IntroColumnsContent1.compiledContent()} />
        </div>
        <div slot="col2" class="flex rows gap-2">
          <Fragment set:html={await IntroColumnsContent2.compiledContent()} />
        </div>
      </ColumnsSection>

      <BackgroundSection
        options={{ content_grid: true, center: true }}
        asset={{ src: CarouselBackground.src, position: 'bottom right' }}
      >
        <Carousel slides={quotes.landing} id="carousel">
          {
            quotes.landing.map((quote, index) => (
              <div class="carousel-content" data-step-id={index + 1}>
                <Blockquote id={index + 1}>
                  <Fragment>{quote.quote}</Fragment>
                  <Fragment slot="cite">
                    {' '}
                    <span class="name txt-italic">{quote.cite.name}</span>
                    <span class="role">{quote.cite.role}</span>
                  </Fragment>
                </Blockquote>
              </div>
            ))
          }
        </Carousel>
      </BackgroundSection>

      <CoursesCards />

      <Banner />

      <ColumnsSection center_title glue>
        <h2 slot="title">Eure Ansprech&shy;partner&shy;innen</h2>
        <Persona
          name={people[0].name}
          role={people[0].role}
          image={people[0].image}
          email={people[0].email}
          slot="col1"
        />
        <Persona
          name={people[1].name}
          role={people[1].role}
          image={people[1].image}
          email={people[1].email}
          slot="col2"
        />
      </ColumnsSection>

      <div class="flex cols center gap-2 pt-0 pad-8 wrap">
        <LabLinkButton href="/kurse/kurs-daten-verstehen">Kurs: Daten verstehen</LabLinkButton>
        <LabLinkButton href="/kurse/kurs-daten-nutzen">Kurs: Daten nutzen</LabLinkButton>
        <LabLinkButton href="/praxisphase">Praxisphase</LabLinkButton>
      </div>
    </div>
  </main>
</Layout>

<style>
  /* TODO: if re-occurring, move to utility classes */
  .title {
    color: var(--color-lab-blue-dark);
  }
</style>
