---
import { getImage, Image } from 'astro:assets';

import KursLayout from '@layouts/KursLayout.astro';
import Banner from '@compositions/Banner.astro';
import BackgroundSection from '@components/sections/BackgroundSection.astro';
import ColumnsSection from '@components/sections/ColumnsSection.astro';
import CardPlain from '@components/cards/CardPlain.astro';
import LinkButton from '@components/LinkButton.astro';
import Persona from '@components/Persona.astro';
import LabLinkButton from '@components/LabLinkButton.astro';
import Blockquote from '@/components/Blockquote.astro';
import Carousel from '@components/Carousel.astro';
import MailIcon from '@assets/svg/icons/mail.svg';
import PeopleSection from '@compositions/People.astro';

import carouselBackgroundSvg from '@assets/branding/agentur/CL-Zitat-BackgroundGradient-.svg';
const CarouselBackground = await getImage({
  src: carouselBackgroundSvg,
  format: 'webp',
});

import kurs1 from '@data/kurs1.json';
import quotes from '@data/quotes.json';
import * as KostenContent from '@content/landing/kosten.md';
import FlyerKurs from '@assets/images/correllab-flyer-kurs1.png';

import ImageZoe from '@assets/images/wolter-zoe.jpg';
import ImageAntje from '@assets/images/relitz-antje.png';
import ImageEmma from '@assets/images/morlock-emma.png';

const people = [
  {
    name: 'Zoé Wolter',
    role: 'Geschäftsführung und Bildung',
    image: ImageZoe.src,
    email: 'lab@correlaid.org?subject=CorrelLAB&body=Hi%20Zo%C3%A9%2C',
  },
  {
    name: 'Antje Relitz',
    role: 'Bildung',
    image: ImageAntje.src,
    email: 'lab@correlaid.org?subject=CorrelLAB&body=Hi%20Antje%2C',
  },
  {
    name: 'Emma Morlock',
    role: 'Werkstudentin Data Literacy',
    image: ImageEmma.src,
    email: 'lab@correlaid.org?subject=CorrelLAB&body=Hi%20Emma%2C',
  },
];

import * as KursColumns1 from '@content/kurse/kurs_1_columns_1.md';
import * as KursColumns2 from '@content/kurse/kurs_1_columns_2.md';
import * as KursSchedule from '@content/kurse/kurs_1_schedule.md';
---

<KursLayout title="CorrelLAB: Kurs - Daten verstehen">
  <h4 slot="subtitle">Kurs: Daten verstehen &ndash;Grundlagenwissen entdecken</h4>
  <p slot="teaser">
    Viele Organisationen sammeln täglich Daten – doch nur wenige nutzen sie gezielt. Wie lassen sich
    Daten strategisch für Entscheidungen nutzen? Was bedeuten Datenethik und Datenschutz konkret im
    Alltag? Und wie gelingt der Einstieg, wenn im Team keine Statistikexpertise vorhanden ist?
  </p>
  <Fragment slot="cta">
    <LabLinkButton href="#start">Kursüberblick</LabLinkButton>
    <LabLinkButton href="/kurse/kurs-daten-nutzen">Kurs: Daten nutzen</LabLinkButton>
  </Fragment>

  <ColumnsSection center_title>
    <Fragment slot="pre">
      <Blockquote bare wide>
        In unserem Kurs „Daten verstehen: Grundlagenwissen entdecken“ lernt ihr, Daten richtig
        einzuschätzen, Wirkung messbar zu machen und datenbasierte Projekte sicher anzugehen – auch
        ohne Vorwissen.<br /><br /> Wir verbinden Grundlagenwissen mit konkreten Anwendungen und schaffen
        Raum für Austausch, Fragen und individuelle Begleitung – von und für die Zivilgesellschaft!
      </Blockquote>
    </Fragment>
    <div class="flex rows gap-2" slot="col1">
      <h4>Der Kurs ist für dich, wenn…</h4>
      <Fragment set:html={await KursColumns1.compiledContent()} />
    </div>

    <div class="flex rows gap-2" slot="col2">
      <h4>Im Kurs lernst du…</h4>
      <Fragment set:html={await KursColumns2.compiledContent()} />
    </div>
  </ColumnsSection>

  <BackgroundSection
    options={{ content_grid: true, full_height: true, center: true }}
    asset={{ src: CarouselBackground.src, position: 'bottom right' }}
  >
    <!-- <Carousel slides={quotes.landing.filter((quote) => quote.k === 1)} id="carousel"> -->
    {
      quotes.landing
        .filter((quote) => quote.k === 1)
        .map((quote, index) => (
          // <div class="carousel-content" data-step-id={index + 1}>
          <Blockquote id={index + 1}>
            <Fragment>{quote.quote}</Fragment>
            <Fragment slot="cite">
              {' '}
              <span class="name txt-italic">{quote.cite.name}</span>
              <span class="role">{quote.cite.role}</span>
            </Fragment>
          </Blockquote>
          // </div>
        ))
    }
    <!-- </Carousel> -->
  </BackgroundSection>

  <section class="prose">
    <CardPlain>
      <h4 slot="card-title">Wie läuft der Kurs ab?</h4>
      <Fragment slot="content" set:html={await KursSchedule.compiledContent()} />
    </CardPlain>
  </section>

  <section class="pt-0">
    <figure aria-describedby="kurs-timeline">
      <a href="/assets/CorrelLAB_Daten_verstehen_Onepager.pdf" target="_blank" download>
        <Image src={FlyerKurs} alt="Flyer Kurs: Daten verstehen" /></a
      >
      <figcaption class="contained">
        <div>
          <a href="/assets/CorrelLAB_Daten_verstehen_Onepager.pdf" target="_blank" download
            >Link zum One-Pager (PDF)</a
          >
        </div>
        <details>
          <summary>Die Themen in Tabellenform</summary>
          <div class="subsection prose cap pt-4" style="color: var(--color-gray-800)">
            <CardPlain>
              <h4 slot="card-title">Die Themen</h4>
              <table slot="content" id="kurs-timeline">
                <tbody>
                  {
                    kurs1.map((item) => (
                      <tr>
                        <td>{item.date}</td>
                        <td>{item.topic}</td>
                      </tr>
                    ))
                  }
                </tbody>
              </table>
            </CardPlain>
          </div>
        </details>
      </figcaption>
    </figure>
    <div class="subsection content-box narrow flex rows align-center">
      <Fragment set:html={await KostenContent.compiledContent()} />
    </div>
  </section>

  <section class="sticky sticky-bottom">
    <LabLinkButton href="https://pretix.eu/control/event/correlaid/correllab/">
      Hier geht es zur Anmeldung!
    </LabLinkButton>
  </section>

  <PeopleSection people={people} />

  <Banner slot="banner">
    {
      /* <Fragment slot="title">Interessiert?</Fragment>
    <Fragment slot="body">
      <p class="light">
        Wir sind immer auf der Suche nach ehrenamtlichen Tutor*innen für unseren nächsten Kurs!
      </p>
      <p class="light">Melde dich dazu einfach kurz bei unserem Bildungsteam.</p>
    </Fragment>
    <LinkButton
      variant="btn-light"
      href="mailto:education@correlaid.org"
      classes="btn-icon"
      slot="cta"><MailIcon height={'20'} /> Nachricht schreiben</LinkButton
    >*/
    }
  </Banner>

  <div class="flex cols center gap-2 pad-8 wrap" slot="footer-links">
    <LabLinkButton href="/kurse/kurs-daten-nutzen">Kurs: Daten nutzen</LabLinkButton>
    <LabLinkButton href="/praxisphase">Zur Praxisphase</LabLinkButton>
  </div>
</KursLayout>

<style></style>
