---
import { getImage, Image } from 'astro:assets';

import KursLayout from '@layouts/KursLayout.astro';
import Banner from '@compositions/Banner.astro';
import BackgroundSection from '@components/sections/BackgroundSection.astro';
import ColumnsSection from '@components/sections/ColumnsSection.astro';
import CardPlain from '@components/cards/CardPlain.astro';
import LinkButton from '@components/LinkButton.astro';
import Persona from '@components/Persona.astro';
import LabLinkButton from '@components/LabLinkButton.astro';
import Blockquote from '@/components/Blockquote.astro';
import Carousel from '@components/Carousel.astro';
import MailIcon from '@assets/svg/icons/mail.svg';
import PeopleSection from '@compositions/People.astro';

import carouselBackgroundSvg from '@assets/branding/agentur/CL-Zitat-BackgroundGradient-.svg';
const CarouselBackground = await getImage({
  src: carouselBackgroundSvg,
  format: 'webp',
});

import kurs2 from '@data/kurs2.json';
import quotes from '@data/quotes.json';
import * as KostenContent from '@content/landing/kosten.md';
import FlyerKurs from '@assets/images/correllab-flyer-kurs2.png';

import ImageZoe from '@assets/images/wolter-zoe.jpg';
import ImageAntje from '@assets/images/relitz-antje.png';
import ImageJonas from '@assets/images/lorenz-jonas.png';

const people = [
  {
    name: 'Zoé Wolter',
    role: 'Geschäftsführung und Bildung',
    image: ImageZoe,
    email: 'lab@correlaid.org?subject=CorrelLAB&body=Hi%20Zo%C3%A9%2C',
  },
  {
    name: 'Antje Relitz',
    role: 'Bildung',
    image: ImageAntje,
    email: 'lab@correlaid.org?subject=CorrelLAB&body=Hi%20Antje%2C',
  },
  {
    name: 'Jonas Lorenz',
    role: 'Werkstudent Bildung',
    image: ImageJonas,
    email: 'lab@correlaid.org?subject=CorrelLAB&body=Hi%20Jonas%2C',
  },
];

import * as KursColumns1 from '@content/kurse/kurs_2_columns_1.md';
import * as KursColumns2 from '@content/kurse/kurs_2_columns_2.md';
import * as KursSchedule from '@content/kurse/kurs_2_schedule.md';
---

<KursLayout title="CorrelLAB: Kurs - Daten nutzen">
  <h4 slot="subtitle">
    Kurs: Daten nutzen<br />&ndash;&nbsp;Tools und Methoden praktisch anwenden
  </h4>
  <p slot="teaser">
    Daten helfen erst, wenn man sie richtig nutzt. Aber wie startet ihr? Welche Tools sind gut für
    den Anfang?
  </p>
  <Fragment slot="cta">
    <LabLinkButton href="#start">Kursüberblick</LabLinkButton>
    <LabLinkButton href="/kurse/kurs-daten-verstehen">Kurs: Daten verstehen</LabLinkButton>
  </Fragment>

  <ColumnsSection center_title>
    <Fragment slot="pre">
      <Blockquote bare wide>
        Im Kurs „Daten nutzen: Tools und Methoden praktisch anwenden“ lernt ihr, wie ihr aus Daten
        greifbare Erkenntnisse gewinnt.<br /><br />
        Ihr lernt zentrale Werkzeuge für Datenorganisation, -analyse und -visualisierung kennen – von
        Excel bis KI – und wendet sie direkt an.<br /><br />
        Ob automatisierte Auswertungen, anschauliche Dashboards oder strukturiertes Datenmanagement:
        Praxisnah, verständlich und direkt für euren Alltag in der gemeinnützigen Arbeit.
      </Blockquote>
    </Fragment>
    <div class="flex rows gap-2" slot="col1">
      <h4>Der Kurs ist für dich, wenn…</h4>
      <Fragment set:html={await KursColumns1.compiledContent()} />
    </div>

    <div class="flex rows gap-2" slot="col2">
      <h4>Im Kurs lernst du…</h4>
      <Fragment set:html={await KursColumns2.compiledContent()} />
    </div>
  </ColumnsSection>

  <BackgroundSection
    options={{ content_grid: true, center: true }}
    asset={{ src: CarouselBackground.src, position: 'bottom right' }}
  >
    {
      quotes.landing
        .filter((quote) => quote.k === 2)
        .map((quote, index) => (
          <Blockquote id={index + 1}>
            <Fragment>{quote.quote}</Fragment>
            <Fragment slot="cite">
              {' '}
              <span class="name txt-italic">{quote.cite.name}</span>
              <span class="role">{quote.cite.role}</span>
            </Fragment>
          </Blockquote>
        ))
    }
  </BackgroundSection>

  <section class="prose">
    <CardPlain>
      <h4 slot="card-title">Wie läuft der Kurs ab?</h4>
      <Fragment slot="content" set:html={await KursSchedule.compiledContent()} />
    </CardPlain>
  </section>

  <section class="pt-0">
    <figure aria-describedby="kurs-timeline">
      <a href="/assets/CorrelLAB_Daten_nutzen_Onepager.pdf" target="_blank" download>
        <Image src={FlyerKurs} alt="Flyer Kurs: Daten nutzen" widths={[600, 900, 1200, 1600]} /></a
      >
      <figcaption class="contained">
        <div>
          <a href="/assets/CorrelLAB_Daten_nutzen_Onepager.pdf" target="_blank" download
            >Link zum One-Pager (PDF)</a
          >
        </div>
        <details>
          <summary>Die Themen in Tabellenform</summary>
          <div class="subsection prose cap pt-4" style="color: var(--color-gray-800)">
            <CardPlain>
              <h4 slot="card-title">Die Themen</h4>
              <table slot="content" id="kurs-timeline">
                <tbody>
                  {
                    kurs2.map((item) => (
                      <tr>
                        <td>{item.date}</td>
                        <td>{item.topic}</td>
                      </tr>
                    ))
                  }
                </tbody>
              </table>
            </CardPlain>
          </div>
        </details>
      </figcaption>
    </figure>
    <div class="pt-4 content-box narrow flex rows align-center">
      <Fragment set:html={await KostenContent.compiledContent()} />
    </div>
  </section>

  <section class="sticky sticky-bottom">
    <LabLinkButton href="https://pretix.eu/control/event/correlaid/correllab/">
      Hier geht es zur Anmeldung!
    </LabLinkButton>
  </section>

  <PeopleSection people={people} />

  <Banner slot="banner" />
  <div class="flex cols center gap-2 pad-8 wrap" slot="footer-links">
    <LabLinkButton href="/kurse/kurs-daten-verstehen">Kurs: Daten verstehen</LabLinkButton>
    <LabLinkButton href="/praxisphase">Zur Praxisphase</LabLinkButton>
  </div>
</KursLayout>

<style></style>
