---
import CardPlain from '@components/cards/CardPlain.astro';
import LabLinkButton from '@components/LabLinkButton.astro';
import ColumnsSection from '@components/sections/ColumnsSection.astro';
import SvgGlobIcon from '@components/SvgGlobIcon.astro';

import * as KostenContent from '@content/landing/kosten.md';
import bullets from '@data/landing-bullets.json';
---

<ColumnsSection>
  <h2 slot="title">Euer Weg ins CorrelLAB</h2>
  <CardPlain slot="col1">
    <Fragment slot="card-title">Phase 1: Kursphase</Fragment>
    <Fragment slot="subtitle">September bis November 2025</Fragment>
    <Fragment slot="content">
      <dl>
        {
          bullets.phase1.body.map((bullet) => (
            <li>
              {bullet?.icon && <SvgGlobIcon icon={bullet.icon} alt={bullet.alt} />}
              <span set:html={bullet.text} />
              {bullet.subitems && (
                <ul>
                  {bullet.subitems.map((subitem) => (
                    <li>{subitem.text}</li>
                  ))}
                </ul>
              )}
            </li>
          ))
        }
      </dl>
      <p>
        <strong>Ziel:</strong> Strategisches Datenverständnis aufbauen und erste Projektidee entwickeln
      </p>
    </Fragment>

    <Fragment slot="footer">
      <div class="flex cols wrap gap-2 align-start">
        <LabLinkButton href="/kurse/kurs-daten-verstehen/">Daten verstehen</LabLinkButton>
        <LabLinkButton href="/kurse/kurs-daten-nutzen/">Daten nutzen</LabLinkButton>
      </div>
    </Fragment>
  </CardPlain>
  <CardPlain slot="col2">
    <Fragment slot="card-title">Phase 2: Praxisphase</Fragment>
    <Fragment slot="subtitle">Dezember 2025 bis August 2026</Fragment>
    <Fragment slot="content">
      <dl>
        {
          bullets.phase2.body.map((bullet) => (
            <li>
              {bullet?.icon && <SvgGlobIcon icon={bullet.icon} alt={bullet.alt} />}
              <span>
                <Fragment set:html={bullet.text} />
                {bullet.subitems && (
                  <ul>
                    {bullet.subitems.map((subitem) => (
                      <li>{subitem.text}</li>
                    ))}
                  </ul>
                )}
              </span>
            </li>
          ))
        }
      </dl>
      <p>
        <strong>Ziel:</strong> Datenprojekte nachhaltig in der Organisation verankern und Wirkung steigern
      </p>
    </Fragment>
    <Fragment slot="footer">
      <div>
        <LabLinkButton href="/praxisphase/" classes="btn-secondary"
          >Mehr zur Praxisphase</LabLinkButton
        >
      </div>
    </Fragment>
  </CardPlain>
  <div class="subsection content-box narrow flex rows align-center">
    <Fragment set:html={await KostenContent.compiledContent()} />
  </div>
</ColumnsSection>

<style>
  /* dl > li {
    align-items: center;
  } */
</style>
