---
import CardPlain from '@components/cards/CardPlain.astro';
import LabLinkButton from '@components/LabLinkButton.astro';
import ColumnsSection from '@components/sections/ColumnsSection.astro';
import SvgGlobIcon from '@components/SvgGlobIcon.astro';
import PartnerLogos from '@compositions/PartnerLogos.astro';

import phasen from '@data/phasen.json';
---

<ColumnsSection>
  <h2 slot="title">Dein Weg ins CorrelLAB</h2>
  <CardPlain slot="col1">
    <Fragment slot="card-title">Phase 1: Weiterbildung</Fragment>
    <Fragment slot="subtitle" set:text={phasen.kurse.meta.period} />
    <Fragment slot="content">
      <dl>
        {
          phasen.kurse.body.map((bullet) => (
            <li>
              {bullet?.icon && <SvgGlobIcon icon={bullet.icon} alt={bullet.alt} />}
              <span set:html={bullet.text} />
              {bullet.subitems && (
                <ul>
                  {bullet.subitems.map((subitem) => (
                    <li>{subitem.text}</li>
                  ))}
                </ul>
              )}
            </li>
          ))
        }
      </dl>
      <p>
       <strong>Ziel:</strong> Du baust strategisches Datenverständnis auf und entwickelst erste Projektideen.
      </p>
    </Fragment>

    <Fragment slot="footer">
      <div>
        <LabLinkButton href="/weiterbildungen" classes="btn-secondary"
          >Mehr zur Weiterbildung</LabLinkButton
        >
      </div>
    </Fragment>
  </CardPlain>
  <CardPlain slot="col2">
    <Fragment slot="card-title">Phase 2: Praxisphase</Fragment>
    <Fragment slot="subtitle" set:text={phasen.praxis.meta.period} />
    <Fragment slot="content">
      <dl>
        {
          phasen.praxis.body.map((bullet) => (
            <li>
              {bullet?.icon && <SvgGlobIcon icon={bullet.icon} alt={bullet.alt} />}
              <span>
                <Fragment set:html={bullet.text} />
                {bullet.subitems && (
                  <ul>
                    {bullet.subitems.map((subitem) => (
                      <li>{subitem.text}</li>
                    ))}
                  </ul>
                )}
              </span>
            </li>
          ))
        }
      </dl>
      <p>
        <strong>Ziel:</strong> Du setzt ein Praxisprojekt um, wie z.&nbsp;B. eine Auswertung, ein automatisiertes Reporting oder ein Dashboard.
      </p>
    </Fragment>
    <Fragment slot="footer">
      <div>
        <LabLinkButton href="/praxisphase/" classes="btn-secondary"
          >Mehr zur Praxisphase</LabLinkButton
        >
      </div>
    </Fragment>
  </CardPlain>
  <PartnerLogos />
</ColumnsSection>

<style>
  /* dl > li {
    align-items: center;
  } */
</style>
