---
import SocialLinks from '@compositions/SocialLinks.astro';
import Columns from '@compositions/Footer/Columns.astro';
import GoldenColumns from '@/components/GoldenColumns.astro';
import CorrelAidLogoMuted from '@assets/branding/aid/Monochrom/CorrelAid horizontal.svg';
import LinksSection from '@compositions/Footer/LinksSection.astro';

const footer_links = [
  {
    title: 'Daten nutzen',
    links: [
      { href: 'https://correlaid.org/daten-nutzen/projekte', label: 'Data4Good Projekte' },
      { href: 'https://correlaid.org/daten-nutzen/projektdatenbank', label: 'Projektdatenbank' },
      { href: 'https://correlaid.org/daten-nutzen/beratung', label: 'Beratung' },
      { href: 'https://correlaid.org/daten-nutzen/hackathons', label: 'Hackathons & Datendialoge' },
    ],
  },
  {
    title: 'Bildung',
    links: [
      { href: 'https://correlaid.org/bildung/grundkurs-daten', label: 'Grundkurs Daten' },
      { href: 'https://correlaid.org/bildung/r-lernen', label: 'R Lernen' },
      { href: 'https://correlaid.org/bildung/mentoring', label: 'Mentoring' },
      { href: 'https://correlaid.org/bildung/tidy-tuesday', label: 'Tidy Tuesday' },
      { href: 'https://correlaid.org/bildung/ressourcen', label: 'Bildungsresourcen' },
    ],
  },
  {
    title: 'Mitmachen',
    links: [
      { href: 'https://correlaid.org/mitmachen/correlaidx', label: 'Engagiere dich vor Ort' },
      { href: 'https://correlaid.org/mitmachen/volunteer-teams', label: 'Trete einem Team bei' },
      {
        href: 'https://easyverein.com/public/correlaid/applicationform/7737',
        label: 'Vereinsmitglied werden',
      },
      { href: 'https://correlaid.org/mitmachen/lc-gruenden', label: 'Gründe eine Lokalgruppe' },
    ],
  },
  {
    title: 'Über uns',
    links: [
      { href: 'https://correlaid.org/ueber/wirkung', label: 'Unsere Wirkung' },
      { href: 'https://correlaid.org/ueber/team', label: 'Team' },
      { href: 'https://correlaid.org/ueber/werte', label: 'Unsere Werte' },
      { href: 'https://correlaid.org/ueber/partner', label: 'Partner' },
    ],
  },
];

const footer_footer_links = [
  { href: 'https://correlaid.org/impressum', label: 'Impressum' },
  { href: 'https://correlaid.org/codeofconduct', label: 'Code of Conduct' },
  { href: 'https://correlaid.org/codeofethics', label: 'Code of Ethics' },
  { href: 'https://correlaid.org/ueber/team', label: 'Team' },
  { href: 'https://correlaid.org/jobs', label: 'Jobs' },
];
---

<footer class="content-box">
  <div class="footer-inner">
    <div class="column flex rows pb-4">
      <a href="https://correlaid.org"><CorrelAidLogoMuted /></a>
      <SocialLinks color="var(--color-gray-600)" />
    </div>
    <div class="column">
      <Columns>
        <LinksSection section={footer_links[0]} />
        <LinksSection section={footer_links[1]} />
        <LinksSection section={footer_links[2]} />
        <LinksSection section={footer_links[3]} />
      </Columns>
    </div>
  </div>
  <div class="footer-footer">
    <div class="copyright">CorrelAid. © {new Date().getFullYear()}</div>
    <aside>
      {/* <span>Deutsch</span>*/}
      {footer_footer_links.map((link) => <a href={link.href}>{link.label}</a>)}
    </aside>
  </div>
</footer>

<style>
  footer {
    container: footer / inline-size;
    padding: 0 var(--padding);
    /* display: flex; */
    /* flex-direction: column; */
    gap: calc(var(--padding) * 2);
    font-size: 1rem;
    line-height: 1;

    & .footer-inner {
      padding-top: calc(var(--padding) * 2);
      border-top: 2px solid var(--color-gray-muted);
      display: grid;
      /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
      /* 2 columns, first has a max width of 200px, second should be auto */
      grid-template-columns: minmax(150px, 250px) auto;
      gap: var(--padding);

      & .column {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      @container footer (width < 400px) {
        grid-template-columns: 1fr;
      }
    }

    & .footer-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap-reverse;
      gap: 1rem;
      padding: 1rem 0;
      /* border-top: 2px solid var(--color-gray-muted); */

      & .copyright {
      }

      & aside {
        display: flex;
        gap: 0.2rem 1rem;
        flex-wrap: wrap;
        font-size: 0.8rem;

        & a {
          color: var(--color-gray-muted);
        }
      }
    }
  }
</style>
